@font-face {
    font-family: 'Pixellet Th';
    src: url(./Fonts/Pixelette\ Regular.ttf);
}

body {
    font-family: 'Pixellet Th';
    margin: 0;
}

main {
    height: 100vh; /* Set main element height to 100% of the viewport height */
    overflow: hidden; /* Hide overflow content */
}

.container{
    background-image: url("./images/dtbg.png");
    min-height: 100vh;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
}
.header-container {
    position: relative;
    overflow: hidden; /* Ensures the header doesn't overlap content when fixed */
}

.transparent-header {
    font-family: 'Courier New', monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value for transparency */
    transition: background-color 0.3s ease-in-out;
    z-index: 1000; /* Ensure the header stays on top of other elements */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    float: left;
}

/*color for the links */
.nav-link {
    text-decoration: none;
    color: #cdcdcd;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    text-shadow: 0 0 10px rgb(207, 207, 207); /* Adjust the glow color and size */
    margin-right: 20px; /* Adjust the value as needed */
}

.nav-link:hover {
    color: #ff00f7; 
}

 /* header: adjust text (home, about)*/
 .indented-text {
    text-indent: 990px; /* header text from left and right */
    margin-right: 90px; /* space between header text */
}

.pixelated-text {
    font-size: 18px; 
    letter-spacing: 5px; 
}

.logo img {
    max-width: 120px; 
    height: auto;
}

.how-to-play-text {
    margin-right: 40px; /* Adjust the spacing between "ABOUT" and "How to play" */
}

.about-text {
    margin-right: 170px; /* Increase the margin for "ABOUT" */
}

.buttonUser {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 80px;
    border: 1px solid #fff; /* Set the border color to white */
    border-radius: 20px;
    background: linear-gradient(45deg, #8A548A, #62076A); 
    font-size: 14px;
    color: white; /* Set the text color */
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition on hover */

    /* Optional: Add box-shadow for a more pronounced effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap; 
}

.buttonUser2 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 95px;
    border: 1px solid #fff; /* Set the border color to white */
    border-radius: 20px;
    background: linear-gradient(45deg, #930475, #BD16C7);
    font-size: 14px;
    color: white; /* Set the text color */
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition on hover */

    /* Optional: Add box-shadow for a more pronounced effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap; 
}

/* .container-home{
    min-height: 100vh;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-home img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
} */

.oblong-button {
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    border: 1px solid #fff; /* Set the border color to white */
    border-radius: 30px;
    text-decoration: none; /* Remove underline */
    background: transparent;
    font-size: 26px;
    font-family: 'Pixellet Th';
    color: purple; /* Set the text color */
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition on hover */

    /* Optional: Add box-shadow for a more pronounced effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.oblong-button:hover {
    color: #fff; /* Change text color on hover */
    background: linear-gradient(45deg, #122C60, #633A75); /* Add gradient background on hover */
}

.oblong-button2 {
    position: absolute;
    top: 80%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    border: 1px solid #fff; /* Set the border color to white */
    border-radius: 30px;
    text-decoration: none; /* Remove underline */
    background: transparent;
    font-size: 26px;
    color: purple; /* Set the text color */
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition on hover */

    /* Optional: Add box-shadow for a more pronounced effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.oblong-button2:hover {
    color: #fff; /* Change text color on hover */
    background: linear-gradient(45deg, #122C60, #633A75); /* Add gradient background on hover */
}

/* .container-about{
    background-image: url("./images/aboutbg.png");
    min-height: 100vh;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-about img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
}

.container-host{
    background-image: url("./images/hostbg.png");
    min-height: 100vh;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-host img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
} */

.oblong-button3 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 70px;
    border: 1px solid #fff; /* Set the border color to white */
    border-radius: 30px;
    text-decoration: none; /* Remove underline */
    background: transparent;
    font-size: 20px;
    color: white; /* Set the text color */
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition on hover */
    font-weight: bold;

    /* Optional: Add box-shadow for a more pronounced effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.oblong-button3:hover {
    color: #fff; /* Change text color on hover */
    background: linear-gradient(to right, #26277B, #833796); /* Add gradient background on hover */
}

/* Style for the container div */
.textbox-container {
    width: 400px; /* Set the width of the container */
    height: 70px;
    margin: 10px; /* Add some margin for spacing */
    padding: 2px; /* Add padding to the container */
    border: 2px dotted white; /* Set the border to dotted with a color */
    box-sizing: border-box; /* Include padding and border in the box model */
    /* Positioning properties */
    position: absolute;
    top: 52%; /* Adjust the top position */
    left: 39%; /* Adjust the left position */
}

  /* Style for the fixed text inside the container */
.fixed-text {
    font-size: 1.65em; /* Set the font size */
    color: white; /* Set the text color */
    text-align: center; /* Center the text horizontally */
    line-height: 1.5; /* Set the line height for better readability */
    font-weight: bold; /* Make the text bold for increased visibility */
    margin: auto;
    padding: 0.5em 0 0 0.2em;
}

.hostext {
    font-weight: bold;
    color: #24FF00;
    position: absolute;
    bottom: 30%; /* Adjust the bottom position */
    left: 50%;
    transform: translateX(-50%);
    font-size: 38px;
    line-height: 1.5;
}

.text-container {
    width: 400px; /* Set the width of the container */
    height: 70px;
    margin: 10px; /* Add some margin for spacing */
    padding: 2px; /* Add padding to the container */
    border: 2px dotted white; /* Set the border to dotted with a color */
    box-sizing: border-box; /* Include padding and border in the box model */
    position: absolute;
    top: 67%; /* Adjust the top position */
    left: 39%; /* Adjust the left position */
}

  /* Style for the text inside the container */
.container-text {
    font-size: 26px; /* Set the font size */
    color: white; /* Set the text color */
    text-align: center; /* Center the text horizontally */
    line-height: 1.5; /* Set the line height for better readability */
    font-weight: bold; /* Make the text bold for increased visibility */
}

.hostext1 {
    font-weight: bold;
    color: #24FF00;
    position: absolute;
    bottom: 15%; /* Adjust the bottom position */
    left: 50%;
    transform: translateX(-50%);
    font-size: 38px;
    line-height: 1.5;
}

/* Style for the button */
.popup-btn {
    position: absolute;
    top: 80%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    border: 1px solid #fff; /* Set the border color to white */
    border-radius: 30px;
    text-decoration: none; /* Remove underline */
    background: transparent;
    font-size: 26px;
    color: purple; /* Set the text color */
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition on hover */
}

.popup-btn:hover{
    color: #fff; /* Change text color on hover */
    background: linear-gradient(45deg, #122C60, #633A75); /* Add gradient background on hover */
}

    /* Style for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

/* Style for the pop-up content */
.popup-content {
    width: 650px; /* Set the width of the container */
    height: 500px;
    margin: 10px; /* Add some margin for spacing */
    padding: 12px; /* Add padding to the container */
    background: linear-gradient(to top, #510258, #0D020D); 
    background-color: rgba(255, 255, 255, 0.1); /* Adjust opacity here */
    border-radius: 25px;
    text-align: center;
    position: relative;
}

.popup-content h2 {
    font-weight: bold;
    color: #24FF00;
    position: absolute;
    bottom: 50%; /* Adjust the bottom position */
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    white-space: nowrap;
    line-height: 1.5;
}

/* Close button style */
    .close-btn {
    cursor: pointer;
    color: #3498db;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
}

/* Target the :target pseudo-class to show the pop-up */
.overlay:target {
    display: flex;
}

.gcode-textbox {
    color: white;
    width: 400px; /* Set the width of the container */
    height: 50px;
    margin: 10px; /* Add some margin for spacing */
    padding: 2px 0 0 15px; /* Add padding to the container */
    border: 2px dotted white; /* Set the border to dotted with a color */
    box-sizing: border-box; /* Include padding and border in the box model */
    background: transparent;
    /* Positioning properties */
    position: absolute;
    top: 52%; /* Adjust the top position */
    left: 18%; /* Adjust the left position */
  }

.oblong-button4 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    border: 1px solid #fff; /* Set the border color to white */
    border-radius: 30px;
    text-decoration: none; /* Remove underline */
    background: transparent;
    font-size: 20px;
    color: white;
     /* Set the text color */
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.oblong-button4:hover {
    color: white;
    background:linear-gradient(to right, #26277B, #833796);
}

.wait{
    font-weight: bold;
    color: gray;
    position: absolute;
    bottom: 5%; /* Adjust the bottom position */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    line-height: 1.5;
}

#game-code {
    color: white;
    text-align: center;
    margin: auto;
    font-size: 2.5em;
    line-height: 1.5;
    font-weight: bold;
}